.navbar {
    padding: 0 !important;
}
.navbar-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

img.card-img-top.selected {
    OPACITY: 1;
}

div#map-container {
    width: 100%;
	height: -webkit-fill-available;
}

.btn-outline-success {
    border-color: #28A744 !important;
}

div#container-live-data{
	position: fixed;
	top: 0;
	right: 0;
}

.live-layers-container{
	padding-top: 120px;
    background: #41ad53;
}

.alert {
    z-index: 200;
}
nav#navbar-main {
    position: inherit;
    top: 0;
}

.navbar-we-mega-menu {
    background-color: #161717 !important;
}
.navbar {
    z-index: 99;
}

.card.text-right.mb-3 {
    min-height: 200px;
    BACKGROUND-COLOR: #1f2020;
}

#map{
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  width:100%;
  height:100%;    
}

.card-title {
    margin-bottom: 2rem !important;
    margin-top: -6rem !important;
    color: #eee;
    /* background: #222222ab; */
    padding: 10px;
    position: relative;
}
h5.subtitle{
    font-size: 20px;
}
a.btn.selected {
   background: #ffffff9e !important;
}
a.btn.data-button {
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
	font-size: 1rem;
    background: #90c14f;
	color: #222222ab;
}

.c-legend-choropleth {
    margin: 0;
    padding: 0;
    list-style: none;
	display: flex;
	font-size: 12px;
}

.c-legend-content > ul {
    height: 30px;
}

.c-legend-choropleth > li {
    padding: 0;
    -ms-flex: 1;
    flex: 1;
    list-style: none!important;
}

.icon-choropleth {
    display: block;
    margin-bottom: 5px;
    margin-left: 2px;
	height: 15px;
	opacity: 0.3;
}
.icon-choropleth.interactive {
	cursor: pointer;
}
.icon-choropleth.selected {
    opacity: 1;
}

.col-md-4.live-layers-container {
    overflow-y: scroll;
    BACKGROUND-COLOR: #191a1a;

}

img.layer-spinner {
	opacity: 0.7;
}

#mini-loader-wrapper {
    position: absolute !important;
	width: unset !important;
    height: unset !important;
	right: 150px;
}
#mini-loader {
    margin: -40px 0 0 0px !important;
}

.mapboxgl-ctrl-top-right {
    top: 5rem;
    right: 1rem;
}

.toolbar-icons-right {
    position: unset!important;
}

.toolbar-wrapper {
    background: #a7d1e521!important;
    border-radius: 12px!important;
    PADDING-LEFT: 2PX!important;
    margin-right: 7px!important;
    MARGIN-TOP: -4PX!important;
}

ul#superfish-account {
    position: absolute;
    top: 8px;
    background: #161717!important;
    right: 0;
    border-radius: 5px;
    border: 1px solid #212222!important;
    margin-right: 10px;
}
.col-md-4.live-layers-container {
    overflow-y: scroll;
    BACKGROUND-COLOR: #191a1a!important;
  
    COLOR: #bebebe!important;
    PADDING-LEFT: 27PX!important;
}
.divider{
    BORDER-BOTTOM: 1PX SOLID #3a3a3a;
    MARGIN-BOTTOM: 11PX;
    PADDING-TOP: 0PX;
}

.card-img-top {

    OPACITY: 0.2;
}

.btn-dark {
    WIDTH: 41PX!important;
    BORDER-RADIUS: 50%!important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)!IMPORTANT;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.btn-dark.focus, .btn-dark:focus, .btn-dark:hover {
    color: #808080 !important;
}

#container-live-data > div > div.col-md-4.live-layers-container > div > div > h5 > p{

    margin-top: 10px;
        float: left;
        color: white;
        font-weight: 300;
}