{{ attach_library( 'biopama_live_data/biopama_live_data' ) }}

<div id="container-live-data" class="container-fluid">
    <div class="row">
        <div class="col-md-4 live-layers-container">
	
		<h5 class="subtitle">Near Real Time Datasets</h5>
		<em>Explore global near real-time datasets </em>
		<div class="divider"></div>
		
			<div class="card text-right mb-3">
			  <img class="card-img-top news lazy" src="{{ live_data_image_path }}sm_news.png" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title"> <p>News on Biodiversity topic</p><a href="#" class="btn btn-outline-success" data-toggle="collapse" data-target="#collapseNews" aria-expanded="false" aria-controls="collapseNews"><i class="fas fa-ellipsis-v"></i></a> <a href="#" class="news btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a></h5>
                  <p>
                    <div class="c-legend-content">
                      <ul class="c-legend-choropleth">
                      <li>
                      <div class="news icon-choropleth" style="background-color: #1e90ff;"></div>
                      <p><span class="name"><i>Last 1 Day</i></span></p></li>
                    </div>
                  </p>
				<div class="collapse" id="collapseNews">
				  <div class="card card-body">
					News on Biodiversity topics from EMM-JRC services.
				  </div>
				</div>
			</div>
      <div class="card text-right mb-3">
			  <img class="card-img-top airnews lazy-load" src="{{ live_data_image_path }}sm_news.png" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title"> <p>Coronavirus World Airport Impacts</p><a href="#" class="btn btn-outline-success" data-toggle="collapse" data-target="#collapseAirnews" aria-expanded="false" aria-controls="collapseNews"><i class="fas fa-ellipsis-v"></i></a> <a href="#" class="airnews btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a></h5>
                  <p>
                    <div class="c-legend-content">
                      <ul class="c-legend-choropleth">
                      <li>
                      <div class="airnews icon-choropleth" style="background-color: #ff9900;"></div>
                      <p><span class="name"><i>Last 1 Day</i></span></p></li>
                    </div>
                  </p>
				<div class="collapse" id="collapseAirnews">
				  <div class="card card-body">
            Coronavirus World Airport Impacts
            Screening - Some sort of screening is taking place for arriving and/or departing passengers.
            Restrictions - Some level of international travel restrictions are in place (denying entry, quarantining passengers arriving from certain locations or cancelling all flights to and from a certain location).
				  </div>
				</div>
			  </div>
			</div>
			<div class="card text-right mb-3">
			  <img class="card-img-top fire lazy-load" src="{{ live_data_image_path }}sm_fires.png" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title"><p>Active Fires </p><a href="#" class="btn btn-outline-success" data-toggle="collapse" data-target="#collapseFire" aria-expanded="false" aria-controls="collapseFire"><i class="fas fa-ellipsis-v"></i></a> <a href="#" class="fire btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a></h5>
                  <p>
                    <div class="c-legend-content">
                      <ul class="c-legend-choropleth"><li>
                      <div class="fire fires_1d icon-choropleth interactive" style="background-color: #f00;"></div>
                      <p><span class="name"><i>Last 1 Day</i></span></p></li>
                      <li>
                      <div class="fire fires_7d icon-choropleth interactive" style="background-color: #ff7f00;"></div>
                      <p><span class="name"><i>Last 7 Days</i></span></p></li>
                      <li>
                      <div class="fire fires_30d icon-choropleth interactive" style="background-color: #1e90ff;"></div>
                      <p><span class="name"><i>Last 30 Days</i></span></p></li>
                      <li>
                      <div class="fire fires_90d icon-choropleth interactive" style="background-color: #588d0b;"></div>
                      <p><span class="name"><i>Last 90 Days</i></span></p></li>
                    </div>
                  </p>
				<div class="collapse" id="collapseFire">
				  <div class="card card-body">
					Active fire products from the Moderate Resolution Imaging Spectroradiometer (MODIS) for the last 24 hours up to the last 90 days.
				  </div>
				</div>
			  </div>
			</div>
			
			<div class="card text-right mb-3">
			  <img class="card-img-top floods lazy-load" src="{{ live_data_image_path }}sm_floods.png" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title"><p>Flood hazard 100 year return period </p><a href="#" class="btn btn-outline-success" data-toggle="collapse" data-target="#collapseFlood" aria-expanded="false" aria-controls="collapseFlood"><i class="fas fa-ellipsis-v"></i></a> <a href="#" class="floods btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a></h5>
                  <p>
                    <div id="floods_ne_legend" class="c-legend-content">
                      <ul class="c-legend-choropleth"><li>
                      <div class="floods icon-choropleth" style="background-color: #b8dbff;"></div>
                      <p><span class="name"><i>Shallow</i></span></p></li>
                      <li>
                      <div class="floods icon-choropleth" style="background-color: #99ccff;"></div>
                      <p><span class="name"><i>Moderate</i></span></p></li>
                      <li>
                      <div class="floods icon-choropleth" style="background-color: #6699ff;"></div>
                      <p><span class="name"><i>Deep</i></span></p></li>
                      <li>
                      <div class="floods icon-choropleth" style="background-color: #3366ff;"></div>
                      <p><span class="name"><i>Very deep</i></span></p></li>
                      </ul>
					</div>
                  </p>
				<div class="collapse" id="collapseFlood">
				  <div class="card card-body">
					Inundated areas for flood events with a return period of 100 years, based on GloFAS climatology. Permanent water bodies derived from the Global Lakes and Wetlands Database and from the Natural Earth lakes map (naturalearthdata.com).
				  </div>
				</div>
			  </div>
			</div>
			
			<!-- 
			<div class="card text-right mb-3">
			  <img class="card-img-top drought lazy-load" src="{{ live_data_image_path }}sm_drought.png" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title">Risk of Drought Impact <a href="#" class="btn btn-outline-success" data-toggle="collapse" data-target="#collapseDrought" aria-expanded="false" aria-controls="collapseDrought"><i class="fas fa-ellipsis-v"></i></a> <a href="#" class="drought btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a></h5>
                  <p>
                    <div id="drought_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth"><li>
                        <div class="drought icon-choropleth" style="background-color: #feea08!important;"></div>
                        <p><span class="name"><i>Low</i></span></p></li>
                        <li>
                        <div class="drought icon-choropleth" style="background-color: #ff7f00!important;"></div>
                        <p><span class="name"><i>Medium</i></span></p></li>
                        <li>
                        <div class="drought icon-choropleth" style="background-color: #f00!important;"></div>
                        <p><span class="name"><i>High</i></span></p></li>
                        </ul>
                    </div>
                      <br>
                      <div id="show_pa"><span class="pa_add">Add Terrestrial Protected Areas <i class="fas fa-layer-group"></i></span></div>
                  </p>
				<div class="collapse" id="collapseDrought">
				  <div class="card card-body">
					The indicator shows the risk of having impacts from a drought, by taking into account the exposure and socio-economic vulnerability of the area, with particular focus on the agricultural impacts. Formerly known as Likelihood of Drought Impact (LDI), it differs from the latter in that soil moisture anomaly is now included and updated every ten days (dekad).
				  </div>
				</div>
			  </div>
			</div>
			
			
			<div class="card text-right mb-3">
			  <img class="card-img-top spi lazy-load" src="{{ live_data_image_path }}sm_rain.png" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title">Standardized Precipitation Index (SPI) <a href="#" class="btn btn-outline-success" data-toggle="collapse" data-target="#collapseSPI" aria-expanded="false" aria-controls="collapseSPI"><i class="fas fa-ellipsis-v"></i></a> <a href="#" class="spi btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a></h5>
                  <p>
					<div id="spi_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth"><li>
                        <div class="spi icon-choropleth" style="background-color: #b30101; "></div>
                        <p><span class="name"><i>-2.5</i></span></p></li>
                        <li>
                        <div class="spi icon-choropleth" style="background-color: #fd0000;"></div>
                        <p><span class="name"><i>-2.0</i></span></p></li>
                        <li>
                        <div class="spi icon-choropleth" style="background-color: #ff5500;"></div>
                        <p><span class="name"><i>-1.5</i></span></p></li>
                        <li>
                        <div class="spi icon-choropleth" style="background-color: #ffaa01;"></div>
                        <p><span class="name"><i>-1.0</i></span></p></li>
                        <li>
                        <div class="spi icon-choropleth" style="background-color: #ffff01;"></div>
                        <p><span class="name"><i>-0.5</i></span></p></li>
                        <li>
                        <div class="spi icon-choropleth" style="background-color: #f6f6f6;"></div>
                        <p><span class="name"><i>0</i></span></p></li>
                        <li>
                        <div class="spi icon-choropleth" style="background-color: #ffffff;"></div>
                        <p><span class="name"><i>-0.5</i></span></p></li>
                        <li>
                        <div class="spi icon-choropleth" style="background-color: #e9ccfa;"></div>
                        <p><span class="name"><i>1</i></span></p></li>
                        <li>
                        <div class="spi icon-choropleth" style="background-color: #823292;"></div>
                        <p><span class="name"><i>1.5</i></span></p></li>
                        <li>
                        <div class="spi icon-choropleth" style="background-color: #3a00af;"></div>
                        <p><span class="name"><i>2</i></span></p></li>
                        <li>
                        <div class="spi icon-choropleth" style="background-color: #1a00d1;"></div>
                        <p><span class="name"><i>2.5</i></span></p></li>
                        </ul>
                    </div>
                  </p>

				<div class="collapse" id="collapseSPI">
				  <div class="card card-body">
					The variable of the hydrological cycle upon
                    which the SPI indicator produced by European Drought Observatory is based, as well as the indicator’stemporal and spatial scales
                    and geographic coverage, are summarized below. 
                    <hr>
                    More at:
                    <a href="https://edo.jrc.ec.europa.eu/documents/factsheets/factsheet_spi.pdf"> https://edo.jrc.ec.europa.eu/documents/factsheets/factsheet_spi.pd</a> 
				  </div>
				</div>
			  </div>
			</div>
			-->
			
			<div class="card text-right mb-3">
			  <img class="card-img-top coral lazy-load" src="{{ live_data_image_path }}sm_coral.png" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title"><p>Coral Bleaching Heat Stress Alerts</p> <a href="#" class="btn btn-outline-success" data-toggle="collapse" data-target="#collapseCoral" aria-expanded="false" aria-controls="collapseCoral"><i class="fas fa-ellipsis-v"></i></a> <a href="#" class="coral btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a></h5>
                  <p>
                    <div id="baa_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth"><li>
                        <div class="coral icon-choropleth" style="background-color: #fff000;"></div>
                        <p><span class="name"><i>Watch</i></span></p></li>
                        <li>
                        <div class="coral icon-choropleth" style="background-color: #faaa0a;"></div>
                        <p><span class="name"><i>Warning</i></span></p></li>
                        <li>
                        <div class="coral icon-choropleth" style="background-color: #ec3747;"></div>
                        <p><span class="name"><i>Alert Level 1</i></span></p></li>
                        <li>
                        <div class="coral icon-choropleth" style="background-color: #990009;"></div>
                        <p><span class="name"><i>Alert Level 2</i></span></p></li>
                        </ul>
                    </div>
                  </p>
				
				<div class="collapse" id="collapseCoral">
				  <div class="card card-body">
					Level of stress of the Global Coral Reefs derived from NOAA Alerts Bleaching Alerts.
				  </div>
				</div>
			  </div>
			</div>
			
			<div class="card text-right mb-3">
			  <img class="card-img-top coralhot lazy-load" src="{{ live_data_image_path }}sm_coral.png" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title"><p>Coral Bleaching HotSpot</p>
				<a href="#" class="btn btn-outline-success" data-toggle="collapse" data-target="#collapseCoralHot" aria-expanded="false" aria-controls="collapseCoralHot"><i class="fas fa-ellipsis-v"></i></a> 
				<a href="#" class="coral-hot btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a></h5>
                  <p>
					<div id="hs_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth"><li>
                        <div class="coralhot icon-choropleth" style="background-color: #463278;"></div>
                        <p><span class="name"><i>1°C</i></span></p></li>
                        <li>
                        <div class="coral-hot icon-choropleth" style="background-color: #ffff00;"></div>
                        <p><span class="name"><i>2°C</i></span></p></li>
                        <li>
                        <div class="coral-hot icon-choropleth" style="background-color: #ff9600;"></div>
                        <p><span class="name"><i>3°C</i></span></p></li>
                        <li>
                        <div class="coral-hot icon-choropleth" style="background-color: #ff0000;"></div>
                        <p><span class="name"><i>4°C</i></span></p></li>
                        <li>
                        <div class="coral-hot icon-choropleth" style="background-color: #6e0000;"></div>
                        <p><span class="name"><i>5°C</i></span></p></li>
                        </ul>
                    </div>
                  </p>
				
				<div class="collapse" id="collapseCoralHot">
				  <div class="card card-body">
					The twice-weekly global 50km Coral Bleaching HotSpot product presented here was used to measure the occurrence and magnitude of instantaneous coral bleaching-inducive heat stress. See the 'Coral Reef Watch Operational 50km Satellite Nighttime SST Climatologies' table above to access the Maximum Monthly Mean (MMM) SST climatology, used before February 1, 2016 for this product.
				  </div>
				</div>
			  </div>
			</div>
			
			<div class="card text-right mb-3">
			  <img class="card-img-top ssta lazy-load" src="{{ live_data_image_path }}sm_sst.png" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title"><p>Sea Surface Temperature Anomalies</p>
				<a href="#" class="btn btn-outline-success" data-toggle="collapse" data-target="#collapseSSTA" aria-expanded="false" aria-controls="collapseSSTA"><i class="fas fa-ellipsis-v"></i></a> 
				<a href="#" class="ssta btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a></h5>
                  <p>
					<div id="ssta_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth">
                          <li>
                        <div class="ssta icon-choropleth" style="background-color: #65005b; "></div>
                        <p><span class="name"><i>-5</i></span></p></li>
                        <li>
                        <div class="ssta icon-choropleth" style="background-color: #3e1ea5; "></div>
                        <p><span class="name"><i>-4</i></span></p></li>
                        <li>
                        <div class="ssta icon-choropleth" style="background-color: #0018c7; "></div>
                        <p><span class="name"><i>-3</i></span></p></li>
                        <li>
                        <div class="ssta icon-choropleth" style="background-color: #0058ff; "></div>
                        <p><span class="name"><i>-2</i></span></p></li>
                        <li>
                        <div class="ssta icon-choropleth" style="background-color: #00cdff; "></div>
                        <p><span class="name"><i>-1</i></span></p></li>
                        <li>
                        <div class="ssta icon-choropleth" style="background-color: #dcdcdc; "></div>
                        <p><span class="name"><i>0</i></span></p></li>
                        <li>
                        <div class="ssta icon-choropleth" style="background-color: #fbdc00; "></div>
                        <p><span class="name"><i>1</i></span></p></li>
                        <li>
                        <div class="ssta icon-choropleth" style="background-color: #f0a000; "></div>
                        <p><span class="name"><i>2</i></span></p></li>
                        <li>
                        <div class="ssta icon-choropleth" style="background-color: #f56400; "></div>
                        <p><span class="name"><i>3</i></span></p></li>
                        <li>
                        <div class="ssta icon-choropleth" style="background-color: #ef1e00; "></div>
                        <p><span class="name"><i>4</i></span></p></li>
                        <li>
                        <div class="ssta icon-choropleth" style="background-color: #870c00; "></div>
                        <p><span class="name"><i>5</i></span></p></li>
                        </ul>
                    </div>
                  </p>
				
				<div class="collapse" id="collapseSSTA">
				  <div class="card card-body">
					The NOAA Coral Reef Watch (CRW) twice-weekly 50-km Sea Surface Temperature (SST) Anomaly product displays the difference between today's SST and the long-term average. The scale goes from -5 to +5 °C.
				  </div>
				</div>
			  </div>
			</div>
			
			<div class="card text-right mb-3">
			  <img class="card-img-top sstt lazy-load" src="{{ live_data_image_path }}sm_sst.png" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title"><p>Sea Surface Temperature Trend</p>
				<a href="#" class="btn btn-outline-success" data-toggle="collapse" data-target="#collapseSSTT" aria-expanded="false" aria-controls="collapseSSTT"><i class="fas fa-ellipsis-v"></i></a> 
				<a href="#" class="sstt btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a></h5>
                  <p>
					<div id="sstat_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth">
                          <li>
                        <div class="sstt icon-choropleth" style="background-color: #65005b; "></div>
                        <p><span class="name"><i>-3°C</i></span></p></li>
                        <li>
                        <div class="sstt icon-choropleth" style="background-color: #0018c7; "></div>
                        <p><span class="name"><i>-2°C</i></span></p></li>
                        <li>
                        <div class="sstt icon-choropleth" style="background-color: #00cdff; "></div>
                        <p><span class="name"><i>-1°C</i></span></p></li>
                        <li>
                        <div class="sstt icon-choropleth" style="background-color: #0ba062; "></div>
                        <p><span class="name"><i>0°C</i></span></p></li>
                        <li>
                        <div class="sstt icon-choropleth" style="background-color: #f0a000; "></div>
                        <p><span class="name"><i>1°C</i></span></p></li>
                        <li>
                        <div class="sstt icon-choropleth" style="background-color: #ef1e00; "></div>
                        <p><span class="name"><i>2°C</i></span></p></li>
                        <li>
                        <div class="sstt icon-choropleth" style="background-color: #870c00; "></div>
                        <p><span class="name"><i>3°C</i></span></p></li>
                        </ul>
                    </div>
                  </p>
				
				<div class="collapse" id="collapseSSTT">
				  <div class="card card-body">
					The NOAA Coral Reef Watch (CRW) twice-weekly 50-km Sea Surface Temperature (SST) Anomaly product displays the difference between today's SST and the long-term average. The scale goes from -5 to +5 °C.
				  </div>
				</div>
			  </div>
			</div>
			
			<div class="card text-right mb-3">
			  <img class="card-img-top coral_dhw lazy-load" src="{{ live_data_image_path }}sm_coral.png" alt="Card image cap">
			  <div class="card-body">
				<h5 class="card-title"><p>Coral Reef Degree Heating Weeks</p>
				<a href="#" class="btn btn-outline-success" data-toggle="collapse" data-target="#collapseCoralDHW" aria-expanded="false" aria-controls="collapseCoralDHW"><i class="fas fa-ellipsis-v"></i></a> 
				<a href="#" class="coral_dhw btn btn-outline-success add-layer-button"><i class="fas fa-plus"></i></a></h5>
                  <p>
					<div id="dhw_ne_legend" class="c-legend-content">
                        <ul class="c-legend-choropleth">
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #463278!important; "></div>
                        <p><span class="name"><i>1</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #645096!important; "></div>
                        <p><span class="name"><i>2</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #826eb4!important; "></div>
                        <p><span class="name"><i>3</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #a08cd2!important; "></div>
                        <p><span class="name"><i>4</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #ffff00!important; "></div>
                        <p><span class="name"><i>5</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #ffdc00!important; "></div>
                        <p><span class="name"><i>6</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #ffb900!important; "></div>
                        <p><span class="name"><i>7</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #ff9600!important; "></div>
                        <p><span class="name"><i>8</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #ff0000!important; "></div>
                        <p><span class="name"><i>9</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #d20000!important; "></div>
                        <p><span class="name"><i>10</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #a00000!important; "></div>
                        <p><span class="name"><i>11</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #6e0000!important; "></div>
                        <p><span class="name"><i>12</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #e67d46!important; "></div>
                        <p><span class="name"><i>13</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #b45a28!important; "></div>
                        <p><span class="name"><i>14</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #7d3c1e!important; "></div>
                        <p><span class="name"><i>15</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #552d14!important; "></div>
                        <p><span class="name"><i>16</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #f000f0!important; "></div>
                        <p><span class="name"><i>17</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #c800c8!important; "></div>
                        <p><span class="name"><i>18</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #a000a0!important; "></div>
                        <p><span class="name"><i>19</i></span></p></li>
                        <li>
                        <div class="coral_dhw icon-choropleth" style="background-color: #780078!important; "></div>
                        <p><span class="name"><i>20</i></span></p></li>
                        </ul>
                    </div>
                  </p>
				
				<div class="collapse" id="collapseCoralDHW">
				  <div class="card card-body">
					The DHW shows how much heat stress has accumulated in an area over the past 12 weeks (3 months).
				  </div>
				</div>
			  </div>
			</div>
			
			
		</div>
        <div class="col-md-8 live-map-container p-0">
			<div id="map-container"></div>
		</div>
    </div>
</div>
